
<h2>Panier</h2>
<ul>
  <% cart.line_items.each do |item| %>
	<li><%= item.product.title %> (x <%= item.quantity %>)<span class="badge badge-info"><%= number_to_currency(item.total, unit: "Ar", separator: ".", format: "%u %n") %></li>
  <% end %>
</ul>

<p class="font-weight-bold">Total : <span class="badge badge-info"><%= number_to_currency(cart.total, unit: "Ar", separator: ".", format: "%u %n") %></span></p>

<%= button_to "Vider le panier", cart, method: :delete, data: {
confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger", remote: true %>
	
	



